.sec{
    background-color: purple;
    width: 400px;
    font-size: 1px;
}

.box{
    background-color: red;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 2rem;
}

*{
    margin: 0;
    padding: 0;

}