.container{
    background-color: rgba(255, 0, 0, 0.205);
    min-height: 60vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
    
}


.box{
    background-color: brown;
    color: white;
    font-size: 4rem;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
}